<%# <%= form_with model: @intervention do |form| %>
<%= form_with(model: @intervention, local: true, url: intervention_path) do |f| %>   
<section id="contact text-center">
<div class="container ">
<div id="wrapper form-group">
<hr class="m-0" />
<section id="contact">
<div class="container">
          <header class="text-center mb-60-1">
          <h2 class= "text-danger">INTERVENTION</h2>
          <p class="lead font-lato text-primary">Please fill out the form below with the intervention details and submit. Only: Customer, Building and report are required !</p>
          <hr />
          </header>
        <div class="row">                   
          <div class="col-md-8 col-sm-8">
            <fieldset>
              <input type="hidden" name="action" value="contact_send" />
            </fieldset> 
          </div>
        </div>
        <%# Employee drop down: Step 0 %>
          <div class="row" style="margin-left: 1px">
          <div class="col-md-2"></div>
            <div class="col-md-8">
            <%= f.label :employee %>
              <%# <%= f.select(:employee, options_from_collection_for_select(Employee.all,"id", "ful_name", "last_name"), include_blank: " Select only one ", class: "form-control") %> 
              <%= f.select(:employee, Employee.all.collect {|e| [e.ful_name, e.id]}, {prompt: " Select your name "}, {class: 'form-control'}) %>
            </div>
          <div class="col-md-2"></div>
        </div> 
        <%# Customers: Step 1 %>  
      <div class="row" style="margin-left: 1px">
        <div class="col-md-2"></div>
          <div class="col-md-8">
          <%= f.label :"customer*" %>
          <%= f.select(:customer, Customer.all.collect {|c| [c.company_name, c.id]}.sort_by(&:first), {prompt: " Select Customer "}, {class: 'form-control'}) %>            
          </div>
        <div class="col-md-2"></div>
      </div>  
    <div class="row" style="margin-left: 1px">
      <div class="col-md-2"></div>
      <%# Buildings: Step 2  %>  
      <div class="col-md-8 building">
      <%= f.label :"building*" %>
      <%= f.select(:building, Building.all.collect {|t| [t.id, t.customer_id, t.administrator_full_name ]}, {prompt: "id"},  {class: 'form-control'})%>
      </div>
    </div>
    <div class="row" style="margin-left: 1px">
      <div class="col-md-2  "></div>
        <%# Batteries : step 3  %>     
        <div class="col-md-8 battery">
          <%= f.label :battery %>
          <%= f.select(:battery, Battery.all.collect {|b| [b.id, b.building_id ]}, {prompt: "id"}, {class: 'form-control'}) %>
        </div>
        <div class="col-md-2  "></div>
      </div>   
       <div class="row" style="margin-left: 1px">
      <div class="col-md-2  "></div>
        <%# Columns : step 4  %>     
        <div class="col-md-8 column">
          <%= f.label :column %>
         <%= f.select(:column, Column.all.collect {|c| [c.id, c.battery_id ]}, {prompt: "id"}, {class: 'form-control'}) %>
        </div>
        <div class="col-md-2  "></div>
      </div>
      <div class="row" style="margin-left: 1px">
      <div class="col-md-2  "></div>
        <%# Elevators : step 5  %>     
        <div class="col-md-8 elevator">
           <%= f.label :elevator %>
           <%= f.select(:elevator, Elevator.all.collect {|e| [e.id, e.column_id ]}, {prompt: "id"}, {class: 'form-control'}) %>
        </div>
        <div class="col-md-2  "></div>
      </div>
       <div class="row" style="margin-left: 1px">
      <div class="col-md-2  "></div>
         <%# Report: description  %>     
        <div class="col-md-8 building">
            <%= f.label :Report %>
            <%= f.text_area :report, class: 'form-control' %>
        </div>
        <div class="col-md-2  "></div>
      </div>
       <hr>
      <div class="row align-items-center building">
				<div class="col-md-2  " ></div>
					<div class="col-md-4  " >
              <%= recaptcha_tags %>
            </div>
            
            <div class="col-md-4  " >
						<%= f.submit class: 'btn btn-block btn-danger', value: 'Submit'%>
            			</div>
					<div class="col-md-2  " ></div>
					</div>
          
          
</div>
</section>        
</div>
</div>
</section>
    
  <script>

  var _hash = window.location.hash;

// Once you have selected the customer, you must then display a selector listing the buildings belonging to this customer. The dropdown selector allows you to enter only one building at a time. As soon as the selection is made, the change triggers the action of the battery selection field of the form - next step 3


$(".building").hide();
$(".battery").hide();
$(".column").hide();
$(".elevator").hide();
  $("#employee").append('<option value="">None</option>');

$("#building").prop("disabled", true);
$("#customer").change(function () {

    var customer = $(this).val();
    // alert(customer);
    if (customer) {
   
    $("#building").prop("disabled", false);
    } else 
        {
		 $("#building").prop("disabled", true); 
        }

        $.ajax({
    url: "/intervention/get_building",
    method: "GET",
    dataType: "json",
    data: { customer: customer },
    success: function(response) {
      var buildings = response["buildings"];
      $("#building").empty();
        $("#battery").empty();
    

      $("#building").append("<option>Select Building</option>");
        $("#battery").append("<option>Select Battery</option>");

      for (var i = 0; i < buildings.length; i++) {
        $("#building").append(
          '<option value="' + buildings[i]["id"] +'">' + buildings[i]["id"]+" "+ buildings[i]["administrator_full_name"] +"</option>"
        
        );
      }
    }
  });
    
});

// Once the selection of the building has been made, a selector listing the batteries belonging to that building must then be displayed. The Dropdown selector allows only one battery to be entered at a time. As soon as the selection is made, the change triggers the action of the column selection field of the form - next step 4


// Display batteries for specific building: Step 3
$("#building").change(function() {
  var building = $(this).val();
  if (building) {
    $("#battery").prop("disabled", false);
  } else {
     $("#battery").prop("disabled", true);
  }
  $.ajax({
    url: "/intervention/get_battery",
    method: "GET",
    dataType: "json",
    data: { building: building },
    // success callback function
    success: function(response) {
      var batteries = response["batteries"];
      $("#battery").empty();

      $("#battery").append("<option>Select Battery</option>");
      $("#battery").append('<option value="">None</option>');
      for (var i = 0; i < batteries.length; i++) {
        $("#battery").append(
          '<option value="' +
            batteries[i]["id"] +
            '">' +batteries[i]["id"]+" "+
            batteries[i]["battery_type"] +
            "</option>"
        );
      }
    }
  });
});

//Step 4 :Once the battery selection has been made, a selector listing the columns belonging to the battery must then be displayed. 

// Display columns for specific battery 
$("#battery").change(function() {
  var battery = $(this).val();
  if (battery) {
    
    $("#column").prop("disabled", false);
  } else {
   $("#column").prop("disabled", true);
  }
  $.ajax({
    url: "/intervention/get_column",
    method: "GET",
    dataType: "json",
    data: {battery: battery},
    success: function(response) {
      var columns = response["columns"];
      $("#column").empty();

      $("#column").append("<option> Select Column </option>");
      $("#column").append('<option value="">None</option>');
      for (var i = 0; i < columns.length; i++) {
        $("#column").append(
          '<option value="' +
            columns[i]["id"] +
            '">' +
            columns[i]["id"] + " "+ columns[i]["column_type"]+
            "</option>"
        );
      }
    }
  });
});
// Display elevators for specific columns

$("#column").change(function() {
  var column = $(this).val();
  if (column) {
      $("#elevator").prop("disabled", false);
  } else {
      $("#elevator").prop("disabled", true);
  }
  $.ajax({
    url: "/intervention/get_elevator",
    method: "GET",
    dataType: "json",
    data: { column: column },
    success: function(response) {
      var elevators = response["elevators"];
      $("#elevator").empty();
      $("#elevator").append("<option> Select elevator </option>");
      $("#elevator").append('<option value="">None</option>');
      for (var i = 0; i < elevators.length; i++) {
        $("#elevator").append(
          '<option value="' +
            elevators[i]["id"] +
            '">' +
            elevators[i]["id"] +
            "</option>"
        );
      }
    }
  });
});




// Building dropDown 
$(document).ready(function() {
  var choice = document.getElementById("building");
  choice.addEventListener("change", building);
 
});

var building = function() {
  var choice = document.getElementById("building").value;
  if (choice) {
    $(".battery").show();
  }
};

// Battery dropDown
$(document).ready(function() {
  var choice = document.getElementById("battery");
  choice.addEventListener("change", battery);
});

var battery = function() {
  var choice = document.getElementById("battery").value;
  if (choice) {
    $(".column").show();
    
  }else if(choice =="") {
    $(".column").hide();
    $("#column").prop("disabled", true);
    $(".elevator").hide();
    $("#elevator").prop("disabled", true);
    }
};
// Column drop down menu
$(document).ready(function() {
  var choice = document.getElementById("column");
  choice.addEventListener("change", column);
});

var column = function() {
  var choice = document.getElementById("column").value;
  if (choice) {
    $(".elevator").show();
  } else if(choice ==""){
    $(".elevator").hide();
    $("#elevator").prop("disabled", true);
  }
};


// Customer drop down 
$(document).ready(function() {
  var choice = document.getElementById("customer");
  choice.addEventListener("change", customer);
 
});

var customer = function() {
  var choice = document.getElementById("customer").value;
  if (choice) {
    $(".building").show();    
  }
};




jQuery(_hash).show();

  </script>


    



 <%# <%= javascript_include_tag('intervention.js') %> 
 
 
<% end %>

