
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> 
<section>
<div class="container-fluid ">

<div style='width: 800px;'>
  
</div> 
</div>

</section>

<section class="pt-30 pb-35">
  <div class="container">
    <div>
      <header class="text-center">
        <h1 class="header">Customers geolocation</h1>
        <p>Click on the marker to display infobox.</p>
      </header>
      <hr />
      <div class="row">
        <div class="col-lg-1 col-md-6 text-center">
         
        </div>
       
        <div class="col-lg-10 col-md-6 text-center">
          <div id="map" style='width: 950px; height: 950px;'></div>
        </div>
        <div class="col-lg-1 col-md-6 text-center">
          
        </div>
      </div>
    </div>
  </div>
</section>

<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>



<script>
    document.addEventListener('DOMContentLoaded', (event) => {
         mapInitialisation();
    })

    function mapOptions(){
        return {
            mapTypeControl: true,
            mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                position: google.maps.ControlPosition.TOP_CENTER
            },
            zoomControl: true,
            zoomControlOptions: {
                position: google.maps.ControlPosition.LEFT_CENTER
            },
            scaleControl: true,
            streetViewControl: true,
            streetViewControlOptions: {
                position: google.maps.ControlPosition.LEFT_TOP
            },
            fullscreenControl: true,
            
        }
    }

    function mapInitialisation(){

            handler = Gmaps.build('Google');
            
            handler.buildMap({
                
                internal: {
                id: 'map'
                },
                zoomControl: true,
                fullscreenControl: true,
                
            },
            function() {

 <% @places_list.each_with_index do |lp| %>
              name =  "<h5><%= lp[:name] %></h5> </br>Address: <%= lp[:address] %> </br>Client Name: <%= lp[:client] %></br>Number of Batteries: <%= lp[:battery] %></br>Number of Columns: <%= lp[:column] %></br>Number of Elevators: <%= lp[:elevator] %></br>Technician Name: <%= lp[:technician] %>"

              lat = <%= lp[:lat] %>;
              lng = <%= lp[:lng] %>;


              
            


    markers = handler.addMarkers([
      {
        "lat": lat,
        "lng": lng,
        "infowindow": name
      }
    ]);

  

    handler.bounds.extendWith(markers);
    <% end %>
    handler.map.centerOn({
      lat:  40.730610, lng: -73.935242
    });
    //  handler.getMap().setOptions(mapOptions())
    handler.getMap().setZoom(5);

     
  }

  
        );

            

    }
    
</script>

